{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
    <video name='demovideo' controls autoplay width='50%' height='40%'>
        <source src="{% static 'polls/hl.mp4'%}" type="video/mp4"></source>
    </video>
{% else %}
    <p>No polls are available.</p>
{% endif %}